################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleTest/obj
/SLVZ.Db/bin/Release/net10.0
/SLVZ.Db/obj
/.vs/Db.slnx/DesignTimeBuild
/.vs/Db.slnx/config
/.vs/Db.slnx/FileContentIndex
/.vs/Db.slnx/v18
/.vs/ProjectEvaluation
